#-------------------------
# Operating Specific Junk Files
#-------------------------

# OS X
.DS_Store
.AppleDouble
.LSOverride

# OS X Thumbnails
._*

# Windows image file caches
Thumbs.db
ehthumbs.db
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# Linux
*~

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*

#-------------------------
# Environment Files
#-------------------------
# These should never be under version control,
# as it poses a security risk.
.env
.vagrant
Vagrantfile

#-------------------------
# Temporary Files
#-------------------------
writable/cache/*
!writable/cache/index.html

writable/logs/*
!writable/logs/index.html

writable/session/*
!writable/session/index.html

writable/uploads/*
!writable/uploads/index.html

writable/debugbar/*
!writable/debugbar/.gitkeep

php_errors.log

#-------------------------
# User Guide Temp Files
#-------------------------
user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*

#-------------------------
# Test Files
#-------------------------
tests/coverage*

# Don't save phpunit under version control.
phpunit

#-------------------------
# Composer
#-------------------------
vendor/

#-------------------------
# IDE / Development Files
#-------------------------

# Modules Testing
_modules/*

# phpenv local config
.php-version

# Jetbrains editors (PHPStorm, etc)
.idea/
*.iml

# NetBeans
/nbproject/
/build/
/nbbuild/
/dist/
/nbdist/
/nbactions.xml
/nb-configuration.xml
/.nb-gradle/

# Sublime Text
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
.phpintel
/api/

# Visual Studio Code
.vscode/

/results/
/phpunit*.xml
public/uploads/surat/1752062109_c1d508de91d5b967c703.pdf
public/uploads/surat/1752103929_1480dc0802fed34a95c4.pdf
.gitignore
public/uploads/surat/1752105782_405c46ea3d9e1153cfe2.pdf
public/uploads/surat/1752105912_d28b1a563850fcda36c2.pdf
app/Views/pages/dashboard/index.php
public/uploads/surat/1752127536_18161bdd410e430e62fb.pdf
public/uploads/surat/1752127544_589eeead863b0faa7453.pdf
public/uploads/surat/1752127603_19f7b592e8d5f01a7aa0.pdf
public/uploads/surat/1752127646_36e1e1ace638913c61cf.pdf
public/uploads/surat/1752127706_6e9eea58b2fbc732d69e.pdf
public/uploads/surat/1752127931_0b1449bfeea824e2e71a.pdf
public/uploads/surat/1752128071_b45216b26e00a897e8ae.pdf
public/uploads/surat/1752128147_391c6f72aab35a9e62c1.pdf
public/uploads/surat/1752137343_f0c88d497fd8a9b12f1b.pdf
public/uploads/surat/1752137490_6d2d0168c29c9939f7e5.pdf
public/uploads/surat/1752308490_47e589413e2bedd0fe90.pdf
public/uploads/surat/1752309250_c22bb81d58fe5ce5142a.pdf
public/uploads/surat/1752311789_385aa055dae4109e6a39.pdf
public/uploads/surat/1752127524_1a1d0f8ffa22dab77488.pdf
.gitignore
public/uploads/surat/1752646769_c8322bb4f9581991f891.pdf
.gitignore
public/uploads/surat/1752647603_b6e36649b0a2ada0a8c6.pdf
public/uploads/surat/1752647986_b15ac6d190ea95cf869b.pdf
.gitignore
public/uploads/surat/1752667354_48311018a36cc1f78630.pdf
public/uploads/surat/1752668009_efcb57c26328b721bddc.pdf
public/uploads/surat/1752668119_7f4c351a79f885ce3784.pdf
public/uploads/surat/1752668158_2e22af8cba80785396b8.pdf
public/uploads/surat/1757433523_a9558761cf4837eba0c2.pdf
public/uploads/surat/1757433670_b509c994065314c0c14b.bin
public/uploads/surat/1757434538_a44a6b96f78acf6d04dc.pdf
public/uploads/surat/1757434739_0cf8463d5429fde49604.pdf
public/uploads/surat/1757434922_da5ba45fbf223a9da5a2.pdf
public/uploads/surat/1757435010_d5452e46b922e41b4740.pdf
public/uploads/surat/1757435462_beccdd7ca7fe06ca6499.pdf
public/uploads/surat/1757435477_c5115f11abe9f180ef82.pdf
